//font: https://fonts.google.com/specimen/Source+Sans+Pro

//font-family
$ff: 'Source Sans Pro', sans-serif;

//font-weight
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

//font-size
$fs-lg: 4.375rem; // titles
$fs-xmed: 3.438rem; //subtitles
$fs-med: 3.125rem; // medium
$fs-sm: 1.875rem; // descriptions - small
$fs-xsm: 1.563rem; // descriptions - xsmall
$fs-xxsm: 1.375rem; // xxsmall
$fs-xxxsm: 1.25rem; // footer legal -xxxsmall

//colors
$dark-gray: #1E1E1E;
$dark-blue : #121A2B;
$medium-blue: #2F4975;
$light-blue: #88AABD;
$lighter-blue: #CCD9EA;
$white-ish: #EBEDEF;
