@use '../abstracts/variables';
@use './media-queries';

.active{
    background-color: variables.$light-blue;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    height: 4rem;
    position:relative;
    top: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
}


nav ul{
    display:flex;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    display:block;
    text-decoration: none;
    color:variables.$dark-blue;
    font-weight: bolder;
    padding: 0.5rem;
    margin:0 0.5rem;
    border-radius: 1.5rem;
}

nav ul li a:not(.active):hover{
    background-color: variables.$medium-blue;
    color:variables.$white-ish;
}

nav .menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span{
    display: flex;
    height: 0.4rem; 
    width: 100%;
    background-color: variables.$light-blue;
    border-radius: 0.2rem;
}

@include media-queries.respond-to(media-queries.$tablet-portrait){
    nav .menu{
        display: flex;
    }

    nav{
        flex-direction: column;
        align-items: start;
        
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        margin-top: 2rem;
        background-color: variables.$white-ish;
    }

    nav ul.open{
        display: flex;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem  0.5rem;
    }
}

logo{
    padding:2rem;
    padding-bottom: 4rem;
}
